*.pyc
*~
.#*
*#
engines/relex/bin/*
data/README
data/concept_vars.txt
data/conceptnet/*
data/dots/*
data/frame/*
data/logs/*
data/mapping_rules.txt
data/nlp-sem.txt
data/pickles/*
data/relex-semantic-algs.txt
data/relex-tagging-algs.txt
data/semantic-rules.txt
data/sentence-detector/*
data/tensor.gz
data/wordnet/*
data/data-*
data/graphs/
